<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/ef10e68d47.js" crossorigin="anonymous"></script>
    <title>Create A New Workout</title>
    <style>
      * {
        margin: 0;
      }

      html {
        display:flex;
        justify-content: center;
        background-color: #212529;
        font-family: 'Playfair Display';
      }

      a:link, a:visited,  a:hover, a:active {
        color: #000000;
        text-decoration: none;
      } 

      body {
        width: 1300px;
      }
      
      /* NAV BAR ------------------------------------*/

      nav {
        width: 100%;
        height: 10%;
        background-color: #e9ecef;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #logo {
        display:flex;
        align-items: center;
      }

      #navItems {
        width: 100%;
        display:flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
      }

      #headerHeader {
        font-size:30px;
        margin:10px;
        margin-right:35px;
      }

      #DumbbellImgHeader {
        width: 70px;
        height: 60%;
        margin:10px;
      }

      /* Workout ---------------------------------------------- */
      #mainContainer {
        display:flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
      }

      #information{
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width: 80%;
      }

      #inputBars {
        display:flex;
        justify-content:center;
        align-items: center;
        width: 80%;
        height: 50px;
      }

      #workoutHeader {
        display:flex;
        align-items: center;
        justify-content: center;
        color: #FFFAFB;
        border-style: solid;
        border-color: #FFFAFB;
        border-width: thick;
        margin: 50px;
        width: 80%;
        height 100%;
        font-size: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
        zoom: 0.8;
      }

      #userWorkouts {
        display:flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        border-bottom: solid;
        border-width: thick;
        border-color: white;
        color: white;
      }

      #cancelButtonHeader {
        display:flex;
        align-items: center;
        justify-content:space-around;
        color: #FFFAFB;
        border-style: solid;
        border-color: #FFFAFB;
        border-width: thick;
        width: 100%;
        height 100%;
        font-size: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 45px;
        padding-left: 45px;
        margin-bottom: 50px;
      }

      #cancelButton {
        width: 80%;
        display:flex;
        justify-content:center;
        align-items: center;
        zoom: 0.65
      }


      /* Footer --------------------------------------------- */
      #footerContainer {
        background-color:#e9ecef;
        min-height: 6%;
        grid-area:footer;
        display: flex;
        position:relative;
        bottom: 0;
        zoom: 0.78;
        width: 100%;
      }

      #logoAndName {
        display:flex;
        margin-top: 5px;
        font-size: 15px;
        align-items: center;
      }

      #DumbbellImgFooter {
        position:relative;
        top: 0;
        width: 30px;
        height: 20px;
        max-height: 40%;
        margin:10px;
      }

      #copyrightFooter {
        position: absolute;
        bottom: 0;
        left: 2px;
        font-size:15px;
        margin:10px;
      }

      #linkedinImg {
        position: absolute;
        top:25%;
        right:15px;
        height:55%;
        width:40px;
        max-height: 50px;
        max-width: 50px;
        min-width: 50px;
        min-height: 50px;
      }

      #gitHubImg {
        position: absolute;
        top:15%;
        right:70px;
        width:50px;
        height:70%;
        max-height: 68px;
        max-width: 60px;
        min-width: 60px;
        min-height: 68px;
      }

      @media (min-width:768px)  {
        html {
        }

        nav {
          font-size: 25px;
        }

        #navItems {
          flex-direction:row;
        }

        #workoutHeader {
        zoom: 1;
        }

        #backButton {
          width: 95%;
          zoom: 1;
        }

        #userWorkout {
          zoom: 1;
        }

        #exerciseContent {
          width: 57%;
        }

        #userWorkouts {
          zoom: 0.8;
        }

        #createWorkoutHeader {
          padding-top: 50px;
          padding-bottom: 50px;
          padding-right: 25px;
          padding-left: 25px;
          zoom: 1;
        }

        #footerContainer {
          zoom: 1;
        }
      }

      @media (min-width: 992px) {
      }
    }
    </style>
  </head>

  <body>
    <!-- NAV BAR --------------------------------------------------------------------------------------------->
    <nav>
      <div id="logo">
        <img src="https://i.imgur.com/950J1fr_d.webp?maxwidth=760&fidelity=grand" id="DumbbellImgHeader">
        <h1 id="headerHeader"><a href="/homepage">Workout Planner</a></h1>
      </div>

      <div id="navItems">
          <p><a href="/homepage"><b>HOME</b></a></p>
          <p><a href="/homepage/workouts"><b style="color:#6c757d;">WORKOUTS</b></a></p>
          <p><a href="/homepage/login"><b>LOGIN</b></a></p>
      </div>
    </nav>

    <!-- Workout ----------------------------------------------------------------------------------------------->
    <div id="mainContainer">
      <div id="workoutHeader">
        <h1>Create A Workout</h1>
      </div>
      <h1 id="workoutHeader" style="width:63.5%;">Number of Exercises</h1>
      <div id="inputBars">
        <input style="width: 73.5%;height:90%"type="text" id="count" name="count"><button style="background-color:#6c757d;border-style:none;height:100%"onclick="addFields()">ADD</button>
      </div>
      <br />
      <form id="information" action="/workouts" method="POST">
        <h1 id="workoutHeader">Workout Name</h1> <input id="inputBars"type="text" name="name" /><br />
			  <h1 id="workoutHeader">Workout Description</h1> <textarea type="text" name="description" id="inputBars"></textarea><br />
        <h1 id="workoutHeader">Exercises</h1><br />
        <div id="userWorkouts"></div>
        <form style="width: 100%;display:flex;justify-content:center;">
          <input type="submit" id="workoutHeader" style="background-color: #6c757d;"type="submit" value="Add Workout" />
        </form>
        <form id="cancelButton" action="/homepage/workouts" method="GET">
          <input type="submit" value="CANCEL" id="cancelButtonHeader" style="background-color:#e63946;width:80%;"/> 
        </form>
		  </form>
    </div>

    <!-- 
    name: String,
    description: String,
    exercises: Array,
    repsAndSets: Array
    -->


    <!-- Footer ---------------------------------------------------------------------------------------------->
    <div id="footerContainer">
      <div id="footerHeader">
        <div id="logoAndName">
          <img src="https://i.imgur.com/950J1fr_d.webp?maxwidth=760&fidelity=grand" id="DumbbellImgFooter">
          <h1 id="footerHeader">Workout Planner</h1>
          </div>
        <img src="https://i.imgur.com/0hmNIqq_d.webp?maxwidth=760&fidelity=grand" id="linkedinImg" onclick="linkedinButton()">
        <img src="https://i.imgur.com/q4EQ4Me_d.webp?maxwidth=760&fidelity=grand" id="gitHubImg" onclick="gitHubButton()">
        <p id="copyrightFooter">@2022 WorkoutPlanner, M.O. All Rights Reserved.</p>
      </div>
    </div>

  <script type='text/javascript'>
    function addFields(){
      var number = document.getElementById("count").value;
      // Container <div> where dynamic content will be placed
      var container = document.getElementById("userWorkouts");
      // Clear previous contents of the container
      while (container.hasChildNodes()) {
      container.removeChild(container.lastChild);
      }
      for (i=0;i<number;i++){
        // Append a node with a random text
        container.appendChild(document.createTextNode("Exercise " + (i+1)));
        var exerciseName = document.createElement("input");
        exerciseName.type = "text";
        exerciseName.name = "exercises";
        container.appendChild(exerciseName);
        container.appendChild(document.createElement("br"));
        container.appendChild(document.createTextNode("Reps and Sets"));
        var exerciseReps = document.createElement("input");
        exerciseReps.type = "text";
        exerciseReps.name = "repsAndSets";
        container.appendChild(exerciseReps);
        // Append a line break 
        container.appendChild(document.createElement("br"));
        }
      }
      function linkedinButton() {
        window.open("https://www.linkedin.com/in/muzaffer-ozen/", "_blank").focus();
      }

      function gitHubButton() {
        window.open("https://github.com/TeBossIzHere/WorkoutPlanner", "_blank").focus();
      }
    </script>
  </body>
</html>
