<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/ef10e68d47.js" crossorigin="anonymous"></script>
    <title>Workouts</title>
    <style>
      * {
        margin: 0;
      }

      html {
        display:flex;
        justify-content: center;
        background-color: #212529;
        font-family: 'Playfair Display';
      }

      a:link, a:visited,  a:hover, a:active {
        color: #000000;
        text-decoration: none;
      } 

      body {
        width: 1300px;
      }
      
      /* NAV BAR ------------------------------------*/

      nav {
        width: 100%;
        height: 20%;
        max-height: 25%;
        background-color: #e9ecef;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #logo {
        display:flex;
        align-items: center;
      }

      #navItems {
        width: 100%;
        display:flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
      }

      #headerHeader {
        font-size:30px;
        margin:10px;
        margin-right:35px;
      }

      #DumbbellImgHeader {
        width: 70px;
        height: 60%;
        margin:10px;
      }

      /* Workout ---------------------------------------------- */
      #mainContainer {
        display:flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
      }

      #workoutHeader {
        display:flex;
        align-items: center;
        justify-content: center;
        color: #FFFAFB;
        border-style: solid;
        border-color: #FFFAFB;
        border-width: thick;
        margin: 50px;
        width: 80%;
        height 100%;
        font-size: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
        zoom: 0.8;
      }

      #userWorkouts {
        display:flex;
        align-items: center;
        width: 100%;
        border-bottom: solid;
        border-width: thick;
        border-color: white;
        zoom: 0.6;
      }

      #userWorkoutHeader {
        display:flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: #FFFAFB;
        width: 80%;
        left: 150px;
      }

      #userWorkoutNumber {
        display:flex;
        width: 100%;
        display:flex;
        justify-content:start;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 25px;
        padding-left: 0;
      }

      #userWorkoutName {
        display:flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 100%;
      }

      #buttons {
        display:flex;
        align-items: center;
        justify-content: end;
        height: 60%;
        width: 100%;
        margin-right: 0;
        margin-left: 50px;
        padding-right: 0;
      }

      #viewButton {
        width: 15%;
        display:flex;
        justify-content:center;
        align-items: center;
        background-color: #6c757d;
        color: white;
        height: 30%;
        border-style: solid;
        border-radius: 15%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        right: 0;
      }

      #buttonbutton {
        background: none;
	      color: inherit;
	      border: none;
	      padding: 0;
	      font: inherit;
	      cursor: pointer;
	      outline: inherit;
      }

      #createWorkoutHeader {
        display:flex;
        align-items: center;
        justify-content:space-around;
        color: #FFFAFB;
        border-style: solid;
        border-color: #FFFAFB;
        border-width: thick;
        margin: 50px;
        width: 80%;
        height 100%;
        font-size: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 45px;
        padding-left: 45px;
      }

      #createButton {
        width: 92.5%;
        display:flex;
        justify-content:center;
        align-items: center;
        zoom: 0.65
      }

      /* Footer --------------------------------------------- */
      #footerContainer {
        background-color:#e9ecef;
        height: 15%;
        max-height: 20%;
        grid-area:footer;
        display: flex;
        position:relative;
        bottom: 0;
        zoom: 0.78;
      }

      #logoAndName {
        display:flex;
        margin-top: 5px;
        font-size: 15px;
        align-items: center;
      }

      #DumbbellImgFooter {
        position:relative;
        top: 0;
        width: 30px;
        height: 20px;
        max-height: 40%;
        margin:10px;
      }

      #copyrightFooter {
        position: absolute;
        bottom: 0;
        left: 2px;
        font-size:15px;
        margin:10px;
      }

      #linkedinImg {
        position: absolute;
        top:25%;
        right:15px;
        height:55%;
        width:40px;
        max-height: 50px;
        max-width: 50px;
        min-width: 50px;
        min-height: 50px;
      }

      #gitHubImg {
        position: absolute;
        top:15%;
        right:70px;
        width:50px;
        height:70%;
        max-height: 68px;
        max-width: 60px;
        min-width: 60px;
        min-height: 68px;
      }

      @media (min-width:768px)  {
        html {
        }

        nav {
          font-size: 25px;
        }

        #navItems {
          flex-direction:row;
        }

        #workoutHeader {
        zoom: 1;
        }

        #createButton {
          width: 95%;
          zoom: 1;
        }

        #userWorkouts {
          zoom: 1;
        }

        #createWorkoutHeader {
          padding-top: 50px;
          padding-bottom: 50px;
          padding-right: 25px;
          padding-left: 25px;
          zoom: 1;
        }

        #footerContainer {
          zoom: 1;
        }
      }

      @media (min-width: 992px) {
      }
    }
    </style>
  </head>

  <body>
    <!-- NAV BAR --------------------------------------------------------------------------------------------->
    <nav>
      <div id="logo">
        <img src="https://i.imgur.com/950J1fr_d.webp?maxwidth=760&fidelity=grand" id="DumbbellImgHeader">
        <h1 id="headerHeader"><a href="/homepage">Workout Planner</a></h1>
      </div>

      <div id="navItems">
          <p><a href="/homepage"><b>HOME</b></a></p>
          <p><a href="/homepage/workouts"><b style="color:#6c757d;">WORKOUTS</b></a></p>
          <p><a href="/homepage/login"><b>LOGIN</b></a></p>
      </div>
    </nav>

    <!-- Workout ----------------------------------------------------------------------------------------------->
    <div id="mainContainer">
      <div id="workoutHeader">
        <h1>Your Workouts</h1>
      </div>
      <div id="userWorkoutHeader">
        <% let number = 0;%>
        <% workouts.forEach(workout => { %>
          <div id="userWorkouts">
            <div id="userWorkoutNumber">
              <h1>#<%= number + 1 %></h1>
            </div>
            <div id="userWorkoutName">
              <h1 style="zoom: 0.6;"><%= workout.name %></h1>
              <% number = number + 1; %>
            </div>
            <div id="buttons">
              <a href="/homepage/workouts/<%= workout._id %>" id="viewButton"><div id="buttonbutton"><i class="fas fa-glasses"></i></div></a>
            </div>
          </div>
			<% }); %>
      </div>
      <a id="createButton" href="/homepage/new">
        <div id="createWorkoutHeader" style="background-color: #6c757d;">
          <h1>CREATE A WORKOUT</h1>
        </div>
      </a>
    </div>


    <!-- Footer ---------------------------------------------------------------------------------------------->
    <div id="footerContainer">
      <div id="footerHeader">
        <div id="logoAndName">
          <img src="https://i.imgur.com/950J1fr_d.webp?maxwidth=760&fidelity=grand" id="DumbbellImgFooter">
          <h1 id="footerHeader">Workout Planner</h1>
          </div>
        <img src="https://i.imgur.com/0hmNIqq_d.webp?maxwidth=760&fidelity=grand" id="linkedinImg" onclick="linkedinButton()">
        <img src="https://i.imgur.com/q4EQ4Me_d.webp?maxwidth=760&fidelity=grand" id="gitHubImg" onclick="gitHubButton()">
        <p id="copyrightFooter">@2022 WorkoutPlanner, M.O. All Rights Reserved.</p>
      </div>
    </div>

  </body>
  <script>
  function linkedinButton() {
    window.open("https://www.linkedin.com/in/muzaffer-ozen/", "_blank").focus();
  }

  function gitHubButton() {
    window.open("https://github.com/TeBossIzHere/WorkoutPlanner", "_blank").focus();
  }
  </script>
</html>
